[user]
	name = Majid Valipour
	email = majidvp@gmail.com
[color]
  diff = auto
  status = auto
[alias]
  st = status -sb
  sb = status -sb
  co = checkout
  df = diff
  lg = log --graph --decorate --pretty=format:'%C(magenta)%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[github]
  user = majido
